<!--<input-->
    <!--name="email"-->
    <!--ng-model="email"-->
    <!--type="email"-->
    <!--class="input-register input"-->
    <!--placeholder="Email address"-->
    <!--required />-->
<!--<p-->
    <!--class="help-block"-->
    <!--ng-show="register.email.$dirty && register.email.$invalid">-->
    <!--Please enter a proper email.-->
<!--</p>-->

<!--<input-->
    <!--name="password"-->
    <!--ng-model="password"-->
    <!--type="password"-->
    <!--class="input-register input"-->
    <!--placeholder="Password"-->
    <!--required />-->

<!--<input-->
    <!--name="password_confirm"-->
    <!--ng-model="password_confirm"-->
    <!--type="password"-->
    <!--class="input-register input"-->
    <!--placeholder="Confirm Password"-->
    <!--validate-equals='password'-->
    <!--required=""    />-->

<!--<p-->
    <!--class="help-block"-->
    <!--ng-show="register.password_confirm.$dirty && register.password_confirm.$invalid">-->
    <!--please match the passwords.-->
<!--</p>-->

<!--<button-->
    <!--ng-disabled="register.$invalid"-->
    <!--class="btn-default btn-block"-->
    <!--ng-class="{'btn-disabled': register.$invalid}"-->
    <!--type="submit">-->
    <!--Submit-->
<!--</button>-->
